-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: unigrades
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `componente`
--

DROP TABLE IF EXISTS `componente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `componente` (
  `componente_id` int unsigned NOT NULL AUTO_INCREMENT,
  `componente_materia_usuario_id` int unsigned NOT NULL,
  `componente_nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `componente_porcentaje` decimal(5,2) NOT NULL,
  `componente_nota_minima` decimal(3,1) DEFAULT NULL,
  `componente_orden` tinyint unsigned NOT NULL DEFAULT '1',
  `componente_created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`componente_id`),
  UNIQUE KEY `uq_componente_materia_nombre` (`componente_materia_usuario_id`,`componente_nombre`),
  UNIQUE KEY `uq_componente_materia_orden` (`componente_materia_usuario_id`,`componente_orden`),
  CONSTRAINT `fk_componente_materia_usuario` FOREIGN KEY (`componente_materia_usuario_id`) REFERENCES `materia_usuario` (`materia_usuario_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_componente_nota_minima` CHECK (((`componente_nota_minima` is null) or ((`componente_nota_minima` >= 0.0) and (`componente_nota_minima` <= 5.0)))),
  CONSTRAINT `chk_componente_orden` CHECK ((`componente_orden` >= 1)),
  CONSTRAINT `chk_componente_porcentaje` CHECK (((`componente_porcentaje` > 0.00) and (`componente_porcentaje` <= 100.00)))
) ENGINE=InnoDB AUTO_INCREMENT=3958 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Componentes evaluativos configurados para una materia cursada';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `componente`
--

LOCK TABLES `componente` WRITE;
/*!40000 ALTER TABLE `componente` DISABLE KEYS */;
/*!40000 ALTER TABLE `componente` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_validar_porcentaje_insert` BEFORE INSERT ON `componente` FOR EACH ROW BEGIN
    DECLARE v_suma_actual DECIMAL(6,2);

    SELECT COALESCE(SUM(componente_porcentaje), 0)
    INTO   v_suma_actual
    FROM   componente
    WHERE  componente_materia_usuario_id = NEW.componente_materia_usuario_id;

    IF (v_suma_actual + NEW.componente_porcentaje) > 100.00 THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT =
                'La suma de porcentajes de los componentes supera 100. Ajuste el valor antes de insertar.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_validar_porcentaje_update` BEFORE UPDATE ON `componente` FOR EACH ROW BEGIN
    DECLARE v_suma_sin_actual DECIMAL(6,2);

    -- Suma de los dem├ís componentes (excluye el que se est├í actualizando)
    SELECT COALESCE(SUM(componente_porcentaje), 0)
    INTO   v_suma_sin_actual
    FROM   componente
    WHERE  componente_materia_usuario_id = NEW.componente_materia_usuario_id
      AND  componente_id <> OLD.componente_id;

    IF (v_suma_sin_actual + NEW.componente_porcentaje) > 100.00 THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT =
                'La suma de porcentajes de los componentes supera 100. Ajuste el valor antes de actualizar.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `materia`
--

DROP TABLE IF EXISTS `materia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `materia` (
  `materia_id` int unsigned NOT NULL AUTO_INCREMENT,
  `materia_tipologia_id` int unsigned NOT NULL,
  `materia_codigo` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `materia_nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `materia_creditos` tinyint unsigned NOT NULL DEFAULT '3',
  `materia_nota_minima_aprobacion` decimal(3,1) NOT NULL DEFAULT '3.0',
  `materia_semestre_sugerido` tinyint unsigned DEFAULT NULL,
  `materia_created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`materia_id`),
  UNIQUE KEY `uq_materia_tipologia_nombre` (`materia_tipologia_id`,`materia_nombre`),
  UNIQUE KEY `uq_materia_tipologia_codigo` (`materia_tipologia_id`,`materia_codigo`),
  KEY `idx_materia_tipologia_semestre` (`materia_tipologia_id`,`materia_semestre_sugerido`),
  CONSTRAINT `fk_materia_tipologia` FOREIGN KEY (`materia_tipologia_id`) REFERENCES `tipologia` (`tipologia_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_materia_creditos` CHECK ((`materia_creditos` > 0)),
  CONSTRAINT `chk_materia_nota_minima` CHECK (((`materia_nota_minima_aprobacion` >= 0.0) and (`materia_nota_minima_aprobacion` <= 5.0))),
  CONSTRAINT `chk_materia_semestre_sugerido` CHECK (((`materia_semestre_sugerido` is null) or (`materia_semestre_sugerido` between 1 and 20)))
) ENGINE=InnoDB AUTO_INCREMENT=84 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Materias que componen las tipolog├¡as de cada programa';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materia`
--

LOCK TABLES `materia` WRITE;
/*!40000 ALTER TABLE `materia` DISABLE KEYS */;
/*!40000 ALTER TABLE `materia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materia_correquisito`
--

DROP TABLE IF EXISTS `materia_correquisito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `materia_correquisito` (
  `materia_id` int unsigned NOT NULL,
  `correquisito_materia_id` int unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`materia_id`,`correquisito_materia_id`),
  KEY `idx_correquisito_materia` (`correquisito_materia_id`),
  CONSTRAINT `fk_mc_correquisito` FOREIGN KEY (`correquisito_materia_id`) REFERENCES `materia` (`materia_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_mc_materia` FOREIGN KEY (`materia_id`) REFERENCES `materia` (`materia_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Correquisitos asociados a cada materia';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materia_correquisito`
--

LOCK TABLES `materia_correquisito` WRITE;
/*!40000 ALTER TABLE `materia_correquisito` DISABLE KEYS */;
INSERT INTO `materia_correquisito` VALUES (19,5,'2026-07-24 01:23:08'),(20,5,'2026-07-24 01:23:08'),(21,5,'2026-07-24 01:23:08');
/*!40000 ALTER TABLE `materia_correquisito` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_validar_correquisito_diferente` BEFORE INSERT ON `materia_correquisito` FOR EACH ROW BEGIN
    IF NEW.materia_id = NEW.correquisito_materia_id THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Una materia no puede ser correquisito de s├¡ misma.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `materia_prerrequisito`
--

DROP TABLE IF EXISTS `materia_prerrequisito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `materia_prerrequisito` (
  `materia_id` int unsigned NOT NULL,
  `prerrequisito_materia_id` int unsigned NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`materia_id`,`prerrequisito_materia_id`),
  KEY `idx_prerrequisito_materia` (`prerrequisito_materia_id`),
  CONSTRAINT `fk_mp_materia` FOREIGN KEY (`materia_id`) REFERENCES `materia` (`materia_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_mp_prerrequisito` FOREIGN KEY (`prerrequisito_materia_id`) REFERENCES `materia` (`materia_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Prerrequisitos asociados a cada materia';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materia_prerrequisito`
--

LOCK TABLES `materia_prerrequisito` WRITE;
/*!40000 ALTER TABLE `materia_prerrequisito` DISABLE KEYS */;
/*!40000 ALTER TABLE `materia_prerrequisito` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_validar_prerrequisito_diferente` BEFORE INSERT ON `materia_prerrequisito` FOR EACH ROW BEGIN
    IF NEW.materia_id = NEW.prerrequisito_materia_id THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Una materia no puede ser prerrequisito de s├¡ misma.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `materia_usuario`
--

DROP TABLE IF EXISTS `materia_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `materia_usuario` (
  `materia_usuario_id` int unsigned NOT NULL AUTO_INCREMENT,
  `materia_usuario_materia_id` int unsigned NOT NULL,
  `materia_usuario_semestre_id` int unsigned NOT NULL,
  `materia_usuario_estado` enum('en_curso','aprobada','reprobada','retirada') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'en_curso',
  `materia_usuario_created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`materia_usuario_id`),
  UNIQUE KEY `uq_materia_usuario_semestre` (`materia_usuario_materia_id`,`materia_usuario_semestre_id`),
  KEY `idx_materia_usuario_semestre_estado` (`materia_usuario_semestre_id`,`materia_usuario_estado`),
  CONSTRAINT `fk_materia_usuario_materia` FOREIGN KEY (`materia_usuario_materia_id`) REFERENCES `materia` (`materia_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_materia_usuario_semestre` FOREIGN KEY (`materia_usuario_semestre_id`) REFERENCES `semestre` (`semestre_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1980 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Materias cursadas por los estudiantes en cada semestre';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materia_usuario`
--

LOCK TABLES `materia_usuario` WRITE;
/*!40000 ALTER TABLE `materia_usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `materia_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nota`
--

DROP TABLE IF EXISTS `nota`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nota` (
  `nota_id` int unsigned NOT NULL AUTO_INCREMENT,
  `nota_componente_id` int unsigned NOT NULL,
  `nota_nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nota_valor` decimal(3,1) NOT NULL,
  `nota_fecha_registro` date DEFAULT NULL,
  `nota_observacion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nota_created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`nota_id`),
  UNIQUE KEY `uq_nota_componente_nombre` (`nota_componente_id`,`nota_nombre`),
  KEY `idx_nota_componente_fecha` (`nota_componente_id`,`nota_fecha_registro`),
  CONSTRAINT `fk_nota_componente` FOREIGN KEY (`nota_componente_id`) REFERENCES `componente` (`componente_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_nota_rango` CHECK (((`nota_valor` >= 0.0) and (`nota_valor` <= 5.0)))
) ENGINE=InnoDB AUTO_INCREMENT=5135 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Calificaciones registradas dentro de cada componente';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nota`
--

LOCK TABLES `nota` WRITE;
/*!40000 ALTER TABLE `nota` DISABLE KEYS */;
/*!40000 ALTER TABLE `nota` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_actualizar_estado_materia` AFTER INSERT ON `nota` FOR EACH ROW BEGIN
    DECLARE v_materia_usuario_id   INT UNSIGNED;
    DECLARE v_materia_id           INT UNSIGNED;
    DECLARE v_nota_minima          DECIMAL(3,1);
    DECLARE v_porcentaje_evaluado  DECIMAL(6,2);
    DECLARE v_nota_final           DECIMAL(4,2);
    DECLARE v_estado_actual        VARCHAR(20);

    -- Obtener el materia_usuario_id a partir del componente de la nota
    SELECT c.componente_materia_usuario_id
    INTO   v_materia_usuario_id
    FROM   componente AS c
    WHERE  c.componente_id = NEW.nota_componente_id;

    -- Obtener el materia_id y su nota m├¡nima de aprobaci├│n
    SELECT mu.materia_usuario_materia_id,
           m.materia_nota_minima_aprobacion,
           mu.materia_usuario_estado
    INTO   v_materia_id,
           v_nota_minima,
           v_estado_actual
    FROM   materia_usuario AS mu
    INNER JOIN materia AS m
        ON m.materia_id = mu.materia_usuario_materia_id
    WHERE  mu.materia_usuario_id = v_materia_usuario_id;

    -- Solo actuar si la materia sigue en_curso (no modificar estados ya cerrados)
    IF v_estado_actual = 'en_curso' THEN

        -- Calcular el porcentaje evaluado y la nota acumulada
        SELECT ROUND(SUM(pc.componente_porcentaje), 2),
               ROUND(SUM(pc.promedio_componente * pc.componente_porcentaje / 100), 2)
        INTO   v_porcentaje_evaluado,
               v_nota_final
        FROM   v_promedio_componente AS pc
        WHERE  pc.componente_materia_usuario_id = v_materia_usuario_id
          AND  pc.promedio_componente IS NOT NULL;

        -- Solo cerrar la materia cuando el 100% ha sido evaluado
        IF v_porcentaje_evaluado = 100.00 THEN
            IF v_nota_final >= v_nota_minima THEN
                UPDATE materia_usuario
                SET    materia_usuario_estado = 'aprobada'
                WHERE  materia_usuario_id = v_materia_usuario_id;
            ELSE
                UPDATE materia_usuario
                SET    materia_usuario_estado = 'reprobada'
                WHERE  materia_usuario_id = v_materia_usuario_id;
            END IF;
        END IF;

    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `programa`
--

DROP TABLE IF EXISTS `programa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `programa` (
  `programa_id` int unsigned NOT NULL AUTO_INCREMENT,
  `programa_universidad_id` int unsigned NOT NULL,
  `programa_nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `programa_facultad` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `programa_total_creditos` smallint unsigned NOT NULL DEFAULT '0',
  `programa_created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`programa_id`),
  UNIQUE KEY `uq_programa_universidad_nombre` (`programa_universidad_id`,`programa_nombre`),
  CONSTRAINT `fk_programa_universidad` FOREIGN KEY (`programa_universidad_id`) REFERENCES `universidad` (`universidad_id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_programa_total_creditos` CHECK ((`programa_total_creditos` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Programas acad├®micos ofrecidos por cada universidad';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `programa`
--

LOCK TABLES `programa` WRITE;
/*!40000 ALTER TABLE `programa` DISABLE KEYS */;
/*!40000 ALTER TABLE `programa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `semestre`
--

DROP TABLE IF EXISTS `semestre`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `semestre` (
  `semestre_id` int unsigned NOT NULL AUTO_INCREMENT,
  `semestre_usuario_id` int unsigned NOT NULL,
  `semestre_numero` tinyint unsigned NOT NULL,
  `semestre_year` year NOT NULL,
  `semestre_periodo` tinyint unsigned NOT NULL,
  `semestre_created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`semestre_id`),
  UNIQUE KEY `uq_semestre_usuario_periodo` (`semestre_usuario_id`,`semestre_year`,`semestre_periodo`),
  CONSTRAINT `fk_semestre_usuario` FOREIGN KEY (`semestre_usuario_id`) REFERENCES `usuario` (`usuario_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_semestre_numero` CHECK ((`semestre_numero` between 1 and 20)),
  CONSTRAINT `chk_semestre_periodo` CHECK ((`semestre_periodo` in (1,2)))
) ENGINE=InnoDB AUTO_INCREMENT=391 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Per├¡odos acad├®micos registrados por cada estudiante';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `semestre`
--

LOCK TABLES `semestre` WRITE;
/*!40000 ALTER TABLE `semestre` DISABLE KEYS */;
/*!40000 ALTER TABLE `semestre` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipologia`
--

DROP TABLE IF EXISTS `tipologia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipologia` (
  `tipologia_id` int unsigned NOT NULL AUTO_INCREMENT,
  `tipologia_programa_id` int unsigned NOT NULL,
  `tipologia_nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipologia_creditos_requeridos` smallint unsigned NOT NULL DEFAULT '0',
  `tipologia_cuenta_promedio` tinyint(1) NOT NULL DEFAULT '1',
  `tipologia_created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`tipologia_id`),
  UNIQUE KEY `uq_tipologia_programa_nombre` (`tipologia_programa_id`,`tipologia_nombre`),
  CONSTRAINT `fk_tipologia_programa` FOREIGN KEY (`tipologia_programa_id`) REFERENCES `programa` (`programa_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_tipologia_creditos_requeridos` CHECK ((`tipologia_creditos_requeridos` >= 0)),
  CONSTRAINT `chk_tipologia_cuenta_promedio` CHECK ((`tipologia_cuenta_promedio` in (0,1)))
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Tipolog├¡as de materias definidas para cada programa';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipologia`
--

LOCK TABLES `tipologia` WRITE;
/*!40000 ALTER TABLE `tipologia` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipologia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `universidad`
--

DROP TABLE IF EXISTS `universidad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `universidad` (
  `universidad_id` int unsigned NOT NULL AUTO_INCREMENT,
  `universidad_nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `universidad_sigla` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `universidad_pais` varchar(80) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Colombia',
  `universidad_ciudad` varchar(80) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `universidad_logo_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `universidad_created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`universidad_id`),
  UNIQUE KEY `uq_universidad_nombre_ciudad` (`universidad_nombre`,`universidad_ciudad`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Instituciones educativas registradas en UNIGRADES';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `universidad`
--

LOCK TABLES `universidad` WRITE;
/*!40000 ALTER TABLE `universidad` DISABLE KEYS */;
/*!40000 ALTER TABLE `universidad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `usuario_id` int unsigned NOT NULL AUTO_INCREMENT,
  `usuario_programa_id` int unsigned NOT NULL,
  `usuario_nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `usuario_apellido` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `usuario_email` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `usuario_password_hash` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `usuario_codigo_estudiantil` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_avatar_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`usuario_id`),
  UNIQUE KEY `uq_usuario_email` (`usuario_email`),
  UNIQUE KEY `uq_usuario_programa_codigo` (`usuario_programa_id`,`usuario_codigo_estudiantil`),
  KEY `idx_usuario_programa_apellido` (`usuario_programa_id`,`usuario_apellido`,`usuario_nombre`),
  CONSTRAINT `fk_usuario_programa` FOREIGN KEY (`usuario_programa_id`) REFERENCES `programa` (`programa_id`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=201 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Estudiantes registrados y asociados con un programa';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_avance_tipologia`
--

DROP TABLE IF EXISTS `v_avance_tipologia`;
/*!50001 DROP VIEW IF EXISTS `v_avance_tipologia`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_avance_tipologia` AS SELECT 
 1 AS `usuario_id`,
 1 AS `tipologia_id`,
 1 AS `tipologia`,
 1 AS `creditos_requeridos`,
 1 AS `cuenta_promedio`,
 1 AS `creditos_aprobados`,
 1 AS `creditos_pendientes`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_materias_aprobadas_usuario`
--

DROP TABLE IF EXISTS `v_materias_aprobadas_usuario`;
/*!50001 DROP VIEW IF EXISTS `v_materias_aprobadas_usuario`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_materias_aprobadas_usuario` AS SELECT 
 1 AS `usuario_id`,
 1 AS `materia_id`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_nota_materia`
--

DROP TABLE IF EXISTS `v_nota_materia`;
/*!50001 DROP VIEW IF EXISTS `v_nota_materia`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_nota_materia` AS SELECT 
 1 AS `materia_usuario_id`,
 1 AS `usuario_id`,
 1 AS `semestre_id`,
 1 AS `materia_id`,
 1 AS `materia`,
 1 AS `materia_codigo`,
 1 AS `creditos`,
 1 AS `tipologia_id`,
 1 AS `cuenta_promedio`,
 1 AS `estado`,
 1 AS `nota_acumulada`,
 1 AS `porcentaje_evaluado`,
 1 AS `nota_final`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_promedio_componente`
--

DROP TABLE IF EXISTS `v_promedio_componente`;
/*!50001 DROP VIEW IF EXISTS `v_promedio_componente`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_promedio_componente` AS SELECT 
 1 AS `componente_id`,
 1 AS `componente_materia_usuario_id`,
 1 AS `componente_nombre`,
 1 AS `componente_porcentaje`,
 1 AS `promedio_componente`,
 1 AS `cantidad_notas`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_promedio_global`
--

DROP TABLE IF EXISTS `v_promedio_global`;
/*!50001 DROP VIEW IF EXISTS `v_promedio_global`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_promedio_global` AS SELECT 
 1 AS `usuario_id`,
 1 AS `promedio_global`,
 1 AS `total_creditos_cursados`,
 1 AS `total_creditos_aprobados`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_promedio_semestre`
--

DROP TABLE IF EXISTS `v_promedio_semestre`;
/*!50001 DROP VIEW IF EXISTS `v_promedio_semestre`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_promedio_semestre` AS SELECT 
 1 AS `usuario_id`,
 1 AS `semestre_id`,
 1 AS `year`,
 1 AS `periodo`,
 1 AS `numero_semestre`,
 1 AS `promedio_semestre`,
 1 AS `creditos_cursados`*/;
SET character_set_client = @saved_cs_client;

--
-- Dumping routines for database 'unigrades'
--
/*!50003 DROP FUNCTION IF EXISTS `fn_creditos_aprobados_tipologia` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_creditos_aprobados_tipologia`(
    p_usuario_id   INT UNSIGNED,
    p_tipologia_id INT UNSIGNED
) RETURNS smallint unsigned
    READS SQL DATA
    DETERMINISTIC
BEGIN
    DECLARE v_creditos SMALLINT UNSIGNED DEFAULT 0;

    SELECT COALESCE(SUM(m.materia_creditos), 0)
    INTO   v_creditos
    FROM   materia_usuario  AS mu
    INNER JOIN semestre      AS s
        ON s.semestre_id = mu.materia_usuario_semestre_id
    INNER JOIN materia       AS m
        ON m.materia_id  = mu.materia_usuario_materia_id
    WHERE  s.semestre_usuario_id        = p_usuario_id
      AND  m.materia_tipologia_id       = p_tipologia_id
      AND  mu.materia_usuario_estado    = 'aprobada';

    RETURN v_creditos;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_promedio_semestre` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_promedio_semestre`(
    p_usuario_id  INT UNSIGNED,
    p_semestre_id INT UNSIGNED
) RETURNS decimal(4,2)
    READS SQL DATA
    DETERMINISTIC
BEGIN
    DECLARE v_promedio DECIMAL(4,2);

    SELECT ROUND(
               SUM(vm.nota_final * vm.creditos)
               / NULLIF(SUM(vm.creditos), 0),
               2
           )
    INTO   v_promedio
    FROM   v_nota_materia AS vm
    WHERE  vm.usuario_id       = p_usuario_id
      AND  vm.semestre_id      = p_semestre_id
      AND  vm.nota_final       IS NOT NULL
      AND  vm.cuenta_promedio  = 1;

    RETURN v_promedio;
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_inscribir_materia` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_inscribir_materia`(
    IN  p_usuario_id  INT UNSIGNED,
    IN  p_materia_id  INT UNSIGNED,
    IN  p_semestre_id INT UNSIGNED,
    OUT p_mensaje     VARCHAR(255)
)
sp_inscribir_materia: BEGIN
    DECLARE v_programa_usuario         INT UNSIGNED;
    DECLARE v_programa_materia         INT UNSIGNED;
    DECLARE v_semestre_usuario         INT UNSIGNED;
    DECLARE v_ya_aprobada              TINYINT DEFAULT 0;
    DECLARE v_ya_inscrita_semestre     TINYINT DEFAULT 0;
    DECLARE v_prereqs_pendientes       INT DEFAULT 0;
    DECLARE v_nombre_prereq_pendiente  VARCHAR(150) DEFAULT '';
    DECLARE v_nuevo_id                 INT UNSIGNED;

    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        SET p_mensaje = 'Error interno al inscribir la materia. Operaci├│n revertida.';
        RESIGNAL;
    END;

    START TRANSACTION;

    -- 1. Obtener programa del usuario
    SELECT usuario_programa_id
    INTO   v_programa_usuario
    FROM   usuario
    WHERE  usuario_id = p_usuario_id;

    IF v_programa_usuario IS NULL THEN
        SET p_mensaje = 'El usuario no existe.';
        ROLLBACK;
        LEAVE sp_inscribir_materia;
    END IF;

    -- 2. Verificar que el semestre pertenece al usuario
    SELECT semestre_usuario_id
    INTO   v_semestre_usuario
    FROM   semestre
    WHERE  semestre_id = p_semestre_id;

    IF v_semestre_usuario <> p_usuario_id THEN
        SET p_mensaje = 'El semestre no pertenece al usuario indicado.';
        ROLLBACK;
        LEAVE sp_inscribir_materia;
    END IF;

    -- 3. Verificar que la materia pertenece al programa del usuario
    SELECT t.tipologia_programa_id
    INTO   v_programa_materia
    FROM   materia    AS m
    INNER JOIN tipologia AS t
        ON t.tipologia_id = m.materia_tipologia_id
    WHERE  m.materia_id = p_materia_id;

    IF v_programa_materia <> v_programa_usuario THEN
        SET p_mensaje = 'La materia no pertenece al programa del usuario.';
        ROLLBACK;
        LEAVE sp_inscribir_materia;
    END IF;

    -- 4. Verificar si la materia ya fue aprobada
    SELECT COUNT(*)
    INTO   v_ya_aprobada
    FROM   materia_usuario AS mu
    INNER JOIN semestre    AS s
        ON s.semestre_id = mu.materia_usuario_semestre_id
    WHERE  s.semestre_usuario_id           = p_usuario_id
      AND  mu.materia_usuario_materia_id   = p_materia_id
      AND  mu.materia_usuario_estado       = 'aprobada';

    IF v_ya_aprobada > 0 THEN
        SET p_mensaje = 'La materia ya fue aprobada. No es necesario inscribirla nuevamente.';
        ROLLBACK;
        LEAVE sp_inscribir_materia;
    END IF;

    -- 5. Verificar que no est├® ya inscrita en este semestre espec├¡fico
    SELECT COUNT(*)
    INTO   v_ya_inscrita_semestre
    FROM   materia_usuario
    WHERE  materia_usuario_materia_id  = p_materia_id
      AND  materia_usuario_semestre_id = p_semestre_id;

    IF v_ya_inscrita_semestre > 0 THEN
        SET p_mensaje = 'La materia ya est├í inscrita en este semestre.';
        ROLLBACK;
        LEAVE sp_inscribir_materia;
    END IF;

    -- 6. Validar prerrequisitos: todos deben estar aprobados
    SELECT COUNT(*),
           COALESCE(MIN(m_pre.materia_nombre), '')
    INTO   v_prereqs_pendientes,
           v_nombre_prereq_pendiente
    FROM   materia_prerrequisito AS mp
    INNER JOIN materia AS m_pre
        ON m_pre.materia_id = mp.prerrequisito_materia_id
    WHERE  mp.materia_id = p_materia_id
      AND  NOT EXISTS (
               SELECT 1
               FROM   materia_usuario AS mu_pre
               INNER JOIN semestre    AS s_pre
                   ON s_pre.semestre_id = mu_pre.materia_usuario_semestre_id
               WHERE  s_pre.semestre_usuario_id         = p_usuario_id
                 AND  mu_pre.materia_usuario_materia_id = mp.prerrequisito_materia_id
                 AND  mu_pre.materia_usuario_estado     = 'aprobada'
           );

    IF v_prereqs_pendientes > 0 THEN
        SET p_mensaje = CONCAT(
            'Prerrequisito(s) no aprobado(s). Ejemplo pendiente: "',
            v_nombre_prereq_pendiente, '". Total faltantes: ',
            v_prereqs_pendientes
        );
        ROLLBACK;
        LEAVE sp_inscribir_materia;
    END IF;

    -- 7. Insertar la inscripci├│n
    INSERT INTO materia_usuario
        (materia_usuario_materia_id, materia_usuario_semestre_id, materia_usuario_estado)
    VALUES
        (p_materia_id, p_semestre_id, 'en_curso');

    SET v_nuevo_id = LAST_INSERT_ID();

    COMMIT;

    SET p_mensaje = CONCAT(
        'Materia inscrita correctamente. materia_usuario_id = ',
        v_nuevo_id
    );

END sp_inscribir_materia ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_resumen_academico_usuario` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_resumen_academico_usuario`(
    IN p_usuario_id INT UNSIGNED
)
BEGIN
    -- Variables del cursor
    DECLARE v_semestre_id      INT UNSIGNED;
    DECLARE v_semestre_numero  TINYINT UNSIGNED;
    DECLARE v_year             YEAR;
    DECLARE v_periodo          TINYINT UNSIGNED;
    DECLARE v_promedio_sem     DECIMAL(4,2);
    DECLARE v_creditos_sem     SMALLINT UNSIGNED;
    DECLARE v_fin_cursor       BOOLEAN DEFAULT FALSE;

    -- Variables del resumen global
    DECLARE v_promedio_global  DECIMAL(4,2);
    DECLARE v_total_cursados   SMALLINT UNSIGNED;
    DECLARE v_total_aprobados  SMALLINT UNSIGNED;
    DECLARE v_nombre_usuario   VARCHAR(201);

    -- Cursor: recorre los semestres del estudiante
    -- (debe declararse ANTES que los handlers; MySQL exige el orden
    --  variables/condiciones -> cursores -> handlers, si no falla
    --  con error 1338 "Cursor declaration after handler declaration")
    DECLARE cur_semestres CURSOR FOR
        SELECT s.semestre_id,
               s.semestre_numero,
               s.semestre_year,
               s.semestre_periodo
        FROM   semestre AS s
        WHERE  s.semestre_usuario_id = p_usuario_id
        ORDER  BY s.semestre_year, s.semestre_periodo;

    -- Manejo de excepciones
    DECLARE CONTINUE HANDLER FOR NOT FOUND
        SET v_fin_cursor = TRUE;

    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        ROLLBACK;
        RESIGNAL;
    END;

    -- Validar que el usuario existe
    SELECT CONCAT(usuario_nombre, ' ', usuario_apellido)
    INTO   v_nombre_usuario
    FROM   usuario
    WHERE  usuario_id = p_usuario_id;

    IF v_nombre_usuario IS NULL THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'El usuario especificado no existe.';
    END IF;

    -- Obtener datos del promedio global
    SELECT COALESCE(pg.promedio_global, 0),
           COALESCE(pg.total_creditos_cursados, 0),
           COALESCE(pg.total_creditos_aprobados, 0)
    INTO   v_promedio_global,
           v_total_cursados,
           v_total_aprobados
    FROM   v_promedio_global AS pg
    WHERE  pg.usuario_id = p_usuario_id;

    -- Resultado 1: encabezado del estudiante
    SELECT v_nombre_usuario        AS estudiante,
           v_promedio_global       AS promedio_global,
           v_total_cursados        AS creditos_cursados,
           v_total_aprobados       AS creditos_aprobados;

    -- Resultado 2: detalle por semestre usando cursor
    -- Tabla temporal para acumular resultados del cursor
    CREATE TEMPORARY TABLE IF NOT EXISTS tmp_semestres_resumen (
        semestre_numero  TINYINT UNSIGNED,
        periodo          VARCHAR(10),
        promedio         DECIMAL(4,2),
        creditos         SMALLINT UNSIGNED
    );

    TRUNCATE TABLE tmp_semestres_resumen;

    OPEN cur_semestres;

    loop_semestres: LOOP
        FETCH cur_semestres
        INTO  v_semestre_id,
              v_semestre_numero,
              v_year,
              v_periodo;

        IF v_fin_cursor THEN
            LEAVE loop_semestres;
        END IF;

        SET v_promedio_sem = fn_promedio_semestre(p_usuario_id, v_semestre_id);

        SELECT COALESCE(SUM(vm.creditos), 0)
        INTO   v_creditos_sem
        FROM   v_nota_materia AS vm
        WHERE  vm.usuario_id  = p_usuario_id
          AND  vm.semestre_id = v_semestre_id
          AND  vm.nota_final  IS NOT NULL;

        INSERT INTO tmp_semestres_resumen
            (semestre_numero, periodo, promedio, creditos)
        VALUES
            (v_semestre_numero,
             CONCAT(v_year, '-', v_periodo, 'S'),
             v_promedio_sem,
             v_creditos_sem);

    END LOOP loop_semestres;

    CLOSE cur_semestres;

    SELECT * FROM tmp_semestres_resumen
    ORDER  BY semestre_numero;

    DROP TEMPORARY TABLE IF EXISTS tmp_semestres_resumen;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Final view structure for view `v_avance_tipologia`
--

/*!50001 DROP VIEW IF EXISTS `v_avance_tipologia`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_avance_tipologia` AS select `u`.`usuario_id` AS `usuario_id`,`t`.`tipologia_id` AS `tipologia_id`,`t`.`tipologia_nombre` AS `tipologia`,`t`.`tipologia_creditos_requeridos` AS `creditos_requeridos`,`t`.`tipologia_cuenta_promedio` AS `cuenta_promedio`,coalesce(sum((case when (`mau`.`materia_id` is not null) then `m`.`materia_creditos` else 0 end)),0) AS `creditos_aprobados`,greatest((`t`.`tipologia_creditos_requeridos` - coalesce(sum((case when (`mau`.`materia_id` is not null) then `m`.`materia_creditos` else 0 end)),0)),0) AS `creditos_pendientes` from (((`usuario` `u` join `tipologia` `t` on((`t`.`tipologia_programa_id` = `u`.`usuario_programa_id`))) left join `materia` `m` on((`m`.`materia_tipologia_id` = `t`.`tipologia_id`))) left join `v_materias_aprobadas_usuario` `mau` on(((`mau`.`usuario_id` = `u`.`usuario_id`) and (`mau`.`materia_id` = `m`.`materia_id`)))) group by `u`.`usuario_id`,`t`.`tipologia_id`,`t`.`tipologia_nombre`,`t`.`tipologia_creditos_requeridos`,`t`.`tipologia_cuenta_promedio` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_materias_aprobadas_usuario`
--

/*!50001 DROP VIEW IF EXISTS `v_materias_aprobadas_usuario`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_materias_aprobadas_usuario` AS select `s`.`semestre_usuario_id` AS `usuario_id`,`mu`.`materia_usuario_materia_id` AS `materia_id` from (`materia_usuario` `mu` join `semestre` `s` on((`s`.`semestre_id` = `mu`.`materia_usuario_semestre_id`))) where (`mu`.`materia_usuario_estado` = 'aprobada') group by `s`.`semestre_usuario_id`,`mu`.`materia_usuario_materia_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_nota_materia`
--

/*!50001 DROP VIEW IF EXISTS `v_nota_materia`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_nota_materia` AS select `mu`.`materia_usuario_id` AS `materia_usuario_id`,`s`.`semestre_usuario_id` AS `usuario_id`,`mu`.`materia_usuario_semestre_id` AS `semestre_id`,`m`.`materia_id` AS `materia_id`,`m`.`materia_nombre` AS `materia`,`m`.`materia_codigo` AS `materia_codigo`,`m`.`materia_creditos` AS `creditos`,`t`.`tipologia_id` AS `tipologia_id`,`t`.`tipologia_cuenta_promedio` AS `cuenta_promedio`,`mu`.`materia_usuario_estado` AS `estado`,round(sum(((`pc`.`promedio_componente` * `pc`.`componente_porcentaje`) / 100)),2) AS `nota_acumulada`,round(sum(`pc`.`componente_porcentaje`),2) AS `porcentaje_evaluado`,(case when (round(sum(`pc`.`componente_porcentaje`),2) = 100.00) then round(sum(((`pc`.`promedio_componente` * `pc`.`componente_porcentaje`) / 100)),2) else NULL end) AS `nota_final` from ((((`materia_usuario` `mu` join `semestre` `s` on((`s`.`semestre_id` = `mu`.`materia_usuario_semestre_id`))) join `materia` `m` on((`m`.`materia_id` = `mu`.`materia_usuario_materia_id`))) join `tipologia` `t` on((`t`.`tipologia_id` = `m`.`materia_tipologia_id`))) join `v_promedio_componente` `pc` on((`pc`.`componente_materia_usuario_id` = `mu`.`materia_usuario_id`))) where (`pc`.`promedio_componente` is not null) group by `mu`.`materia_usuario_id`,`s`.`semestre_usuario_id`,`mu`.`materia_usuario_semestre_id`,`m`.`materia_id`,`m`.`materia_nombre`,`m`.`materia_codigo`,`m`.`materia_creditos`,`t`.`tipologia_id`,`t`.`tipologia_cuenta_promedio`,`mu`.`materia_usuario_estado` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_promedio_componente`
--

/*!50001 DROP VIEW IF EXISTS `v_promedio_componente`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_promedio_componente` AS select `c`.`componente_id` AS `componente_id`,`c`.`componente_materia_usuario_id` AS `componente_materia_usuario_id`,`c`.`componente_nombre` AS `componente_nombre`,`c`.`componente_porcentaje` AS `componente_porcentaje`,avg(`n`.`nota_valor`) AS `promedio_componente`,count(`n`.`nota_id`) AS `cantidad_notas` from (`componente` `c` left join `nota` `n` on((`n`.`nota_componente_id` = `c`.`componente_id`))) group by `c`.`componente_id`,`c`.`componente_materia_usuario_id`,`c`.`componente_nombre`,`c`.`componente_porcentaje` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_promedio_global`
--

/*!50001 DROP VIEW IF EXISTS `v_promedio_global`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_promedio_global` AS select `vm`.`usuario_id` AS `usuario_id`,round((sum((`vm`.`nota_final` * `vm`.`creditos`)) / nullif(sum(`vm`.`creditos`),0)),2) AS `promedio_global`,sum(`vm`.`creditos`) AS `total_creditos_cursados`,sum((case when (`vm`.`estado` = 'aprobada') then `vm`.`creditos` else 0 end)) AS `total_creditos_aprobados` from `v_nota_materia` `vm` where ((`vm`.`estado` in ('aprobada','reprobada')) and (`vm`.`cuenta_promedio` = 1) and (`vm`.`nota_final` is not null)) group by `vm`.`usuario_id` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_promedio_semestre`
--

/*!50001 DROP VIEW IF EXISTS `v_promedio_semestre`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_promedio_semestre` AS select `vm`.`usuario_id` AS `usuario_id`,`vm`.`semestre_id` AS `semestre_id`,`s`.`semestre_year` AS `year`,`s`.`semestre_periodo` AS `periodo`,`s`.`semestre_numero` AS `numero_semestre`,round((sum((`vm`.`nota_final` * `vm`.`creditos`)) / nullif(sum(`vm`.`creditos`),0)),2) AS `promedio_semestre`,sum(`vm`.`creditos`) AS `creditos_cursados` from (`v_nota_materia` `vm` join `semestre` `s` on((`s`.`semestre_id` = `vm`.`semestre_id`))) where ((`vm`.`nota_final` is not null) and (`vm`.`cuenta_promedio` = 1)) group by `vm`.`usuario_id`,`vm`.`semestre_id`,`s`.`semestre_year`,`s`.`semestre_periodo`,`s`.`semestre_numero` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-23 20:41:59
